**/.vscode
bag
config/*
cougars-ros2
cougars-teensy
cougars-gpio
cougars-docs
cougars-base-station
cougars_base_station
moos-ivp-extend
cougars_sim_converters
!config/cougarsrc.sh
!config/coug*.yaml

